@model CourseDetailsModel

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">
                        <img src="/UploadedFiles/Course/Thumbnail/@Model.ThumbnailImage" style="height: 100%; width: 100%; display:block" />
                    </li>
                    <li class="list-group-item"><span style="font-weight:500">Category :</span> @Model.CategoryName</li>
                    <li class="list-group-item"><span style="font-weight:500">Difficulty :</span> @Model.DifficultyLevel.ToString()</li>
                    <li class="list-group-item"><span style="font-weight:500">Price : </span> BDT. @Model.Price.ToString("0,000")</li>
                </ul>
            </div>
            <div class="col-md-6">
                <p style="font-weight:700">
                    @Model.Title
                </p>
                <br />
                <span style="font-weight:700; display:block;">Description:</span>
                <p style="text-align:justify; ">
                    @Model.Description
                </p>
                <br />
                <a href="#" class="btn btn-sm btn-block btn-red"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to Cart</a>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>